* {
  box-sizing: border-box;
}
body {
  background-color: rgb(68, 130, 211);
}
.container {
  background-color: rgb(255, 255, 255);
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}
